<!doctype html>
<html lang="en">
  <head>
  	<title>Modal 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"> -->
	
		<link rel="stylesheet" href="/static/modal/css/ionicons.min.css">
		<link rel="stylesheet" href="/static/modal/css/flaticon.css">
		<link rel="stylesheet" href="/static/modal/css/style.css">
  </head>
  <body>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script>
			$(document).ready(function() {
			  $('#exampleModalCenter').modal('show');
			});
		  </script>
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close d-flex align-items-center justify-content-center" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true" class="ion-ios-close"></span>
		        </button>
		      </div>
		      <div class="row no-gutters">
			      <div class="col-md-5 d-flex">
				      <div class="modal-body p-5 color-1 d-flex">
				      	<span class="icon-2 flaticon-snowflake"></span>
				      	<div class="w-100 text text-center">
				      		<span class="subheading">Welcome</span>
					      	<h3 class="sale">Join Us
					      		<span class="icon flaticon-snowflake"></span>
					      	</h3>
					      	<!-- <h2><span>40</span><sup>%</sup><sub>off</sub></h2> -->
					      	<p class="upper"> All colorful products is here</p>
				      	</div>
				      </div>
				    </div>
				    <div class="col-md-7 d-flex">
				      <div class="modal-body p-5 img d-flex align-items-center" style="background-image: url(/static/modal/images/bg-1.jpg);">
				      	<div class="text w-100">
				      		<a href="#" class="btn btn-primary d-block py-3">Login/Sign-up</a>
				      	</div>
				      </div>
				    </div>
				  </div>
		    </div>
		  </div>
		</div>

    <script src="/static/modal/js/jquery.min.js"></script>
    <script src="/static/modal/js/popper.js"></script>
    <script src="/static/modal/js/bootstrap.min.js"></script>
    <script src="/static/modal/js/main.js"></script>
  </body>
</html>